
// .holidaycard {
//   position: absolute;
//   left: 0px;
//   // bottom: 0px;
//   top:200px;
//   min-height: 48%;
//   width: 100%;
//   padding: 5px;
//   border-radius: 15px ;
//   background: white;
//   --background: white;
// }

ion-card-title {
  font-family: "IBM Plex Sans Thai", sans-serif !important;
  font-weight: 600;
  font-size: 20px;
}