<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="light">ปิด</ion-button>
    </ion-buttons>
    <div class="hcs">
      <img src="/assets/images/wellnessbar.svg" height="50" />    
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div><img src="/assets/images/image-006.jpg"></div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h1>ลืมรหัสผ่าน</h1>
        </div>
      </ion-col>
    </ion-row>
    <form>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">อีเมล์</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="email" inputmode="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" (click)="resetPassword()">ส่งรหัสผ่าน</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>